@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

/*!----------RESET---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black !important;
    font-family: 'Sen', sans-serif !important;
}

.mi-color{
    background-color: #ff4057;
}

/*!----------HEADER--------- */
.bienvenida video{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    outline: none;
}

.contenido-bienvenida{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 25px;
}

.logo{
    height: 350px;
}

.contenido-bienvenida h1{
    font-size: 50px;
    padding: 10px;
}

.contenido-bienvenida p{
    font-size: 25px;
}

.estilo-texto{
    font-weight: 700;
    color: white;
    font-size: 23px;
}
/*!----------MAIN------------- */

.whoami{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
    padding-top: 20px;
}

.whoami h2{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 25px;
}

.whoami p{
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.galeria{
    padding: 50px 0;
}

.galeria h3{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}

.contenedor-galeria{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    gap: 20px;
}

.foto-galeria img{
    width: 100%;
    height: 100%;
    box-shadow: -1px 1px 42px -13px rgba(255,255,255,0.72);
    -webkit-box-shadow: -1px 1px 42px -13px rgba(255,255,255,0.72);
    -moz-box-shadow: -1px 1px 42px -13px rgba(255,255,255,0.72);
}

.foto-galeria:hover{
    transform: scale(1.02);
}

.foto1{
    grid-area: 1 / 1 / 3 / 3;
}

.foto4{
    grid-area: 3 / 2 / 5 / 4;
}

.nproductos{
    width: 100%;
    padding-bottom: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nproductos h2{
    width: 20%;
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 50px 0 15px 0;
}

.nproductos p{
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 50px 0;
}

.contenedor-tarjetas{
    width: 100%;
    max-width: 1400px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 0 50px 0;
}

.tarjetas{
    display: flex;
    background-color: rgba(128, 128, 128, 0.281);
    padding: 10px;
}

.contenido-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagen-tarjeta img{
    width: 200px;
    height: 280px;
}

.texto-tarjetas{
    color: white;
    text-align: center;
    width: 60%;
}

.texto-tarjetas h3{
    margin-bottom: 20px;
}

.boton-compra a{
    background-color: red;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.contenedor-video{
    position: relative;
    width: 100%;
    height: 890px;
    overflow: hidden;
}

.contenedor-video video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.cuadro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 0.781);
    padding: 50px;
    text-align: center;
    color: white;
    z-index: 1;
    width: 540px;
}

.cuadro h2{
    font-size: 35px;
    padding-bottom: 30px;
}

.cuadro p{
    font-size: 20px;
}

.sabermas{
    padding-top: 25px;
}

.sabermas a{
    background-color: red;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.ambiente{
    width: 1600px;
    margin: auto;
    padding: 150px 0 150px 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-ambiente{
    order: 2;
    width: 600px;
}

.imagen-ambiente{
    width: 300px;
}

.ambiente h3{
    font-size: 50px;
    margin-bottom: 30px;
}

.ambiente p{
    font-size: 30px;
}

.contacto{
    margin-bottom: 100px;
}

.contacto h2{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

.contacto p{
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 10px 0 80px 0;
}

.contenedor-contacto{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.contenedor-mapa{
    width: 650px;
    order: 1;
}

.contenedor-mapa h3{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.contenedor-mapa iframe{
    width: 100%;
    flex: 1;
}

.maps h3{
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 40px;
}

.input-transparente {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    resize: none;
}

.input-transparente:focus {
    background-color: transparent;
    caret-color: white;
    color: white;
}

.formulario{
    margin-left: 100px;
}

.form-group label{
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}

.mi-boton {
    background-color: red;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.mi-boton:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.contenedor-servicios-top{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.servicios-top{
    color: white;
    text-align: center;
    width: 750px;
    margin: auto;
    padding-top: 90px;
    order: 2;
}

.servicios-top h2{
    font-size: 45px;
    margin-bottom: 50px;
}

.servicios-top p{
    font-size: 25px;
    margin-bottom: 25px;
}

.detail-video{
    width: 600px;
    margin: auto;
}

.servicios h3{
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 50px 0 80px 0;
}

.imagen-tarjeta-sv img{
    width: 300px;
    height: 330px;
}

.isOn:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}


/*!--------FOOTER------------ */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #ff4057;
}

.redes{
    margin-bottom: 10px;
}

.footer-text{
    color: rgba(255, 255, 255, 0.548);
}