@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

/*!----------RESET---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black !important;
    font-family: 'Sen', sans-serif !important;
}

.mi-color{
    background-color: #ff4057;
}

/*!----------HEADER--------- */

.bienvenida {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    outline: none;
}

.bienvenida video{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    outline: none;
}

.contenido-bienvenida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 25px;
    width: 80%;
    max-width: 600px;
}

.logo{
    height: 350px;
}

.contenido-bienvenida h1{
    font-size: 50px;
    padding: 10px;
}

.contenido-bienvenida p{
    font-size: 25px;
}

.estilo-texto{
    font-weight: 700;
    color: white;
    font-size: 23px;
}
/*!----------MAIN------------- */

/*---------INDEX---------*/

.whoami{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
    padding-top: 20px;
}

.whoami .textos h2{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 25px;
}

.whoami .textos p{
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}

.galeria{
    padding: 50px 0;
}

.galeria h3{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
}

.contenedor-galeria{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    gap: 20px;
}

.foto-galeria img{
    width: 100%;
    height: 100%;
    box-shadow: -1px 1px 42px -13px rgba(255,255,255,0.72);
    -webkit-box-shadow: -1px 1px 42px -13px rgba(255,255,255,0.72);
    -moz-box-shadow: -1px 1px 42px -13px rgba(255,255,255,0.72);
}

.foto-galeria:hover{
    transform: scale(1.02);
}

.foto1{
    grid-area: 1 / 1 / 3 / 3;
}

.foto4{
    grid-area: 3 / 2 / 5 / 4;
}

/*---------PRODUCTOS---------*/

.nproductos{
    width: 100%;
    padding-bottom: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nproductos h2{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 45px;
    padding: 50px 0 15px 0;
}

.nproductos p{
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 50px 0;
}

.contenedor-tarjetas{
    width: 100%;
    max-width: 1400px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px 0 50px 0;
}

.tarjetas{
    display: flex;
    background-color: rgba(128, 128, 128, 0.281);
    padding: 10px;
}

.contenido-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagen-tarjeta img{
    width: 200px;
    height: 280px;
}

.texto-tarjetas{
    color: white;
    text-align: center;
    width: 100%;
}

.texto-tarjetas h3{
    margin-bottom: 20px;
    overflow: hidden;
}

.boton-compra a{
    background-color: red;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

/*---------NOSOTROS---------*/

.contenedor-video {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    outline: none;
}

.contenedor-video video {
    position: relative;
    width: 100%;
    height: auto;
    outline: none;
}

.cuadro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 0.781);
    padding: 50px;
    text-align: center;
    color: white;
    z-index: 1;
    width: 80%;
    max-width: 600px;
}

.cuadro h2{
    font-size: 35px;
    padding-bottom: 30px;
}

.cuadro p{
    font-size: 20px;
}

.sabermas{
    padding-top: 25px;
}

.sabermas a{
    background-color: red;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.ambiente{
    width: 1600px;
    margin: auto;
    padding: 150px 0 150px 0;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto-ambiente{
    order: 2;
    width: 600px;
}

.imagen-ambiente{
    width: 300px;
}

.ambiente h3{
    font-size: 50px;
    margin-bottom: 30px;
}

.ambiente p{
    font-size: 30px;
}

/*---------CONTACTO---------*/

.contacto{
    margin-bottom: 100px;
}

.contacto h2{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

.contacto p{
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 10px 0 80px 0;
}

.contenedor-contacto{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.contenedor-mapa{
    width: 650px;
    order: 1;
}

.contenedor-mapa h3{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.contenedor-mapa iframe{
    width: 100%;
    flex: 1;
}

.input-transparente {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    resize: none;
}

.input-transparente:focus {
    background-color: transparent;
    caret-color: white;
    color: white;
}

.formulario{
    margin-left: 100px;
}

.form-group label{
    display: block;
    text-align: center;
    padding: 10px 0 10px 0;
}

.mi-boton {
    background-color: red;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.mi-boton:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

/*---------SERVICIOS---------*/

.contenedor-servicios-top{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.servicios-top{
    color: white;
    text-align: center;
    width: 750px;
    margin: auto;
    padding-top: 90px;
    order: 2;
}

.servicios-top h2{
    font-size: 45px;
    margin-bottom: 50px;
}

.servicios-top p{
    font-size: 25px;
    margin-bottom: 25px;
}

.detail-video{
    width: 600px;
    margin: auto;
}

.servicios h3{
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 50px 0 80px 0;
}

.imagen-tarjeta-sv img{
    width: 300px;
    height: 330px;
}

.isOn:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}


/*!--------FOOTER------------ */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #ff4057;
}

.redes{
    margin-bottom: 10px;
}

.footer-text{
    color: rgba(255, 255, 255, 0.548);
}

/*!---------MEDIA QUERYS---------!*/

/*---------INDEX---------*/

@media screen and (max-width: 880px){
    
    .contenido-bienvenida h1 {
        font-size: 40px;
        padding: 5px;
    }
    .contenido-bienvenida p {
        font-size: 20px;
    }
    .estilo-texto {
        font-size: 18px;
    }
    .logo {
        height: 250px;
    }
}

@media screen and (max-width: 748px){
    
    .contenido-bienvenida h1 {
        font-size: 30px;
        padding: 5px;
    }
    .contenido-bienvenida p {
        font-size: 16px;
    }
    .estilo-texto {
        font-size: 16px;
    }
    .logo {
        height: 200px;
    }

    .whoami {
        width: 100%;
        padding: 10px;
    }
    .whoami h2 {
        font-size: 30px;
        padding: 10px;
    }
    .whoami p {
        font-size: 18px;
    }

    .contenedor-galeria {
        grid-template-columns: repeat(2, 1fr);
    }
    .foto-galeria {
        grid-area: auto;
    }
    .foto1,
    .foto4 {
        grid-area: auto;
    }
}

@media screen and (max-width: 530px){
    
    .logo {
        height: 150px;
    }
    
    .contenido-bienvenida h1 {
        font-size: 20px;
        padding: 5px;
    }

    .contenido-bienvenida p {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px){

    .contenido-bienvenida h1 {
        font-size: 24px;
        padding: 5px;
    }

    .estilo-texto {
        font-size: 14px;
    }

    .logo {
        height: 100px;
    }

    .whoami {
        width: 100%;
        padding: 10px;
    }

    .whoami h2 {
        font-size: 24px;
        padding: 10px;
    }

    .whoami p {
        font-size: 16px;
    }

    .contenedor-galeria {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 317px) {
        
    .logo {
        height: 90px;
    }
    
    .contenido-bienvenida h1 {
        font-size: 17px;
    }

    .contenido-bienvenida p {
        font-size: 8px;
    }

    .galeria h3{
        font-size: 40px;
    }
}

/*---------PRODUCTOS---------*/

@media screen and (max-width: 862px) {
    .nproductos h2 {
        font-size: 30px;
        padding: 30px 0 10px 0;
    }
    .nproductos p {
        font-size: 20px;
        margin: 10px 0 30px 0;
        width: 70%;
    }
    .contenedor-tarjetas {
        grid-template-columns: 1fr;
        gap: 30px;
        height: auto;
        width: 70%;
    }
    .tarjetas {
        flex-direction: column;
    }
    .imagen-tarjeta img {
        width: auto;
        height: auto;
        padding-left: 70px;
        padding-right: 40px;
    }
    
    .texto-tarjetas {
        width: 100%;
    }
    .boton-compra a {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .nproductos h2 {
        font-size: 24px;
        padding: 20px 0 10px 0;
    }

    .nproductos p {
        font-size: 18px;
        margin: 10px 0 20px 0;
    }

    .contenedor-tarjetas {
        grid-template-columns: 1fr;
        gap: 10px;
        height: auto;
    width: 90%;
    margin: 0 auto;
    }

    .tarjetas {
        flex-direction: column;
    }

    .imagen-tarjeta img {
        width: 100%;
        height: auto;
    }

    .texto-tarjetas {
        width: 100%;
    }

    .boton-compra a {
        font-size: 14px;
    }

}

/*---------NOSOTROS---------*/


@media screen and (max-width: 1589px) {
    .contenedor-video {
        height: auto; 
    }

    .cuadro {
        width: 90%; 
        padding: 30px;
    }

    .cuadro h2 {
        font-size: 25px;
    }

    .cuadro p {
        font-size: 16px;
    }

    .ambiente {
        width: 100%;
        padding: 30px 0;
        flex-direction: column;
    }

    .texto-ambiente {
        width: 60%; 
        margin-bottom: 20px;
    }

    .imagen-ambiente {
        width: 70%;
        margin: 0 auto;
    }

    .ambiente h3 {
        font-size: 30px;
    }

    .ambiente p {
        font-size: 18px;
    }

}

@media screen and (max-width: 600px) {
    .contenedor-video {
        height: auto;
    }

    .cuadro {
        width: 90%;
        padding: 15px;
    }

    .cuadro h2 {
        font-size: 18px;
    }

    .cuadro p {
        font-size: 14px;
    }

    .sabermas a {
        font-size: 14px;
    }

    .ambiente {
        width: 100%;
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

    .texto-ambiente {
        width: 90%;
        margin-bottom: 10px;
    }

    .imagen-ambiente {
        display: none;
    }

    .ambiente h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .ambiente p {
        font-size: 14px;
    }

    .footer-nosotros {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .cuadro {
        width: 80%;
        padding: 8px;
    }

    .cuadro h2 {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .cuadro p {
        font-size: 12px;
    }

    .sabermas a {
        font-size: 10px;
        padding: 6px;
    }

    .contenedo-video video{
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .cuadro {
        width: 90%;
    }

    .cuadro h2 {
        font-size: 12px;
    }

    .cuadro p {
        font-size: 8px;
    }

    .sabermas a {
        font-size: 8px;
    }
}

@media screen and (max-width: 288px) {
    .cuadro {
        width: 80%;
        padding: 8px;
    }

    .cuadro h2 {
        font-size: 8px;
    }

    .cuadro p {
        font-size: 4px;
    }

    .sabermas a {
        font-size: 4px;
    }

    .ambiente h3{
        font-size: 20px;
    }

    .ambiente p{
        font-size: 12px;
    }
}

/*---------CONTACTO---------*/

@media screen and (max-width: 1200px) {
    .contacto h2 {
        font-size: 30px;
    }

    .contacto p {
        font-size: 24px;
        margin: 10px 0 40px 0;
    }

    .contenedor-mapa {
        width: 100%;
    }

    .contenedor-mapa h3 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .formulario {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .contacto h2 {
        font-size: 24px;
        margin-top: 40px;
    }

    .contacto p {
        font-size: 20px;
        margin: 10px 0 30px 0;
    }

    .contenedor-mapa {
        width: 100%;
        margin-bottom: 20px;
    }

    .contenedor-mapa h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .formulario {
        margin-left: 0;
    }
}

/*---------SERVICIOS---------*/

@media screen and (max-width: 1581px) {
    .detail-video iframe {
        width: 600px;
    }

    .servicios-top {
        width: 40%;
        padding: 0 5px;
    }
}

@media screen and (max-width: 1070px) {
    .imagen-tarjeta-sv img{
        width: 200px;
        height: 250px;
    }
}

@media screen and (max-width: 862px) {
    .imagen-tarjeta-sv img{
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 986px) {

    .servicios-top{
        width: 80%;
    }
    .servicios-top h2 {
        font-size: 30px;
    }

    .servicios-top p {
        font-size: 20px;
    }

    .detail-video iframe{
        height: 300px;
        width: 500px;
        margin: auto;
    }
}


@media screen and (max-width: 500px) {

    .servicios-top{
        width: 80%;
    }
    .servicios-top h2 {
        font-size: 20px;
    }

    .servicios-top p {
        font-size: 10px;
    }

    .detail-video iframe{
        height: 200px;
        width: 300px;
    }
}


@media screen and (max-width: 500px) {
    
    .detail-video iframe{
        height: 200px;
        width: 100%;
    }
}