//! MAPAS
$colores-paleta: (
    principal: #ff4057,
    secundario: white,
    terciario: red,
    texto: white,
);

//! MIXINS

@mixin isOn($bg-color, $text-color, $border-color) {
    &:hover {
        background-color: $bg-color;
        color: $text-color;
        border: 1px solid $border-color;
    }
}

@mixin anim($transition-time, $scale-factor) {
    transition: $transition-time;
    &:hover {
        transform: scale($scale-factor);
    }
}
